/**
* Word on the Street
* global styles
* all styles here are prefixed by the .WOTS selector so as not to interfere with other styles in the page
* @author klokie <klokie@klokie.com>
* @created 2009.03.24
*/
/* Global reset */
/*
* I think this section needs to be added to the HTML page
* - otherwise it overrides other styles below :(
.WOTS div,.WOTS span,.WOTS object,.WOTS iframe,.WOTS h1,.WOTS h2,.WOTS h3,.WOTS h4,.WOTS h5,.WOTS h6,.WOTS p,.WOTS blockquote,.WOTS pre,.WOTS a,.WOTS abbr,.WOTS acronym,.WOTS address,.WOTS code,.WOTS del,.WOTS dfn,.WOTS em,.WOTS img,.WOTS q,.WOTS dl,.WOTS dt,.WOTS dd,.WOTS ol,.WOTS ul,.WOTS li,.WOTS fieldset,.WOTS form,.WOTS label,.WOTS legend{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
*/
.WOTS a img{border:none;}
.WOTS a:active,.WOTS a:focus{outline:0;}
/* Headings */
.WOTS h1,.WOTS h2,.WOTS h3,.WOTS h4,.WOTS h5,.WOTS h6{font-weight:bold;}
.WOTS h1{font-size:1.2em;line-height:1em;margin-bottom:0em;color:#111;}
.WOTS h2{font-size:1.1em;line-height:1.6em;margin-bottom:1em;font-weight:normal;color:#262728;}
.WOTS h3{font-size:1.15em;line-height:1.5em;margin-bottom:0em;color:#9099a0;}
.WOTS h4{font-size:1em;line-height:1.4em;margin-bottom:0em;color:#878f96;}
/* Text elements */
.WOTS p{margin:0 0 1.5em;}
.WOTS a:focus,.WOTS a:hover{text-decoration:underline;}
.WOTS a{text-decoration:underline;}
.WOTS a.fax{text-decoration:none;}
.WOTS blockquote:before,.WOTS blockquote:after,.WOTS q:before,.WOTS q:after{content:"";}
.WOTS blockquote,.WOTS q{quotes:"" "";}
.WOTS blockquote{margin:1.5em;color:#666;font-style:italic;}
.WOTS strong{font-weight:bold;}
.WOTS em,dfn{font-style:italic;}
.WOTS dfn{font-weight:bold;}
.WOTS sup,.WOTS sub{line-height:0;}
.WOTS abbr,.WOTS acronym{border-bottom:1px dotted #666;}
.WOTS address{margin:0 0 1.5em;font-style:italic;}
.WOTS del{color:#666;}
.WOTS pre,code{margin:1.5em 0;white-space:pre;}
.WOTS pre,code,tt{font:1em 'andale mono','lucida console',monospace;line-height:1.5;}
/* Lists */
.WOTS li ul,.WOTS li ol{margin:0 1.5em;}
.WOTS ul,.WOTS ol{margin:0 1.5em 1.5em 1.5em;}
.WOTS dl ul,.WOTS ul ul,.WOTS ul dl,.WOTS dl dl{margin:0.4em 1.5em 0.4em 1.5em;}
.WOTS ul{list-style-type:disc;}
.WOTS ol{list-style-type:decimal;}
.WOTS dl{margin:0 0 1.5em 0;}
.WOTS dl dt{font-weight:bold;}
.WOTS dd{margin-left:1.5em;}
.WOTS ul,.WOTS li,.WOTS dl,.WOTS dt,.WOTS dd{text-align:left;list-style-image:none;list-style-position:inside;list-style-type:none;padding:0;margin:0;display:block;}
.WOTS dl ul,.WOTS ul ul,.WOTS ul dl,.WOTS dl dl{margin:0;}
/* Colors */
.WOTS a{color:#AAAAAA;}
.WOTS a:focus,.WOTS a:hover{color:#a1c2e4;}
/* Layout */
.WOTS{background:#fff;color:#5a5758;line-height:1.5;font-family:Arial,Helvetica,sans-serif;font-size:0.8em;margin:1em auto;width:320px;}
.WOTSheader,.WOTSfooter{font-family:Georgia,"Nimbus Roman No9 L",serif;font-size:0.8em;margin:0.5em auto;padding:1em;border:1px solid #DDDDDD;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTSheader{padding:2em 1em;position:relative;background:#59728C url(http://farm2.static.flickr.com/1157/989489697_a98bc0ec99.jpg) repeat scroll 0 0;}
.WOTSheader .info{height:1.2em;background-color:#59728C;color:#DBDCCF;height:1.2em;padding:2px;border-radius:3px;border-radius-bottomright:0px;-moz-border-radius:3px;-moz-border-radius-bottomright:0px;-webkit-border-radius:3px;-webkit-border-radius-bottomright:0px;}
.WOTSheader .info h1{float:left;color:#DBDCCF;}
.WOTSheader .info .address{float:right;color:#DBDCCF;}
.WOTSheader .menu{bottom:6px;margin:0 1em;position:absolute;right:0;width:298px;}
.WOTSheader a.tab{float:right;padding:1px 5px;background-color:#59728C;border-radius-bottomleft:3px;border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;-webkit-border-radius-bottomleft:3px;-webkit-border-radius-bottomright:3px;}
.WOTSheader .menu .tab{float:left;}
.WOTSheader .menu .map{display:none;float:right;}
.WOTSheader .description{display:none;}
.WOTSabout .description .author{display:block;font-weight:bold;}
.WOTSabout .description .created{float:right;}
.WOTSabout .description{margin:0 0 1.5em 0;}
.WOTSabout .description p{border-left:3px solid LightBlue;}
.WOTSabout .description ol{padding:0;margin:0 0 1.5em;}
.WOTSabout .description ol li{border-left:3px solid DarkOrange;display:list-item;list-style-type:decimal;padding:0 10px;margin:0 0 1em;}
.WOTSfooter{text-align:center;background-color:#EFEFEF;}
.WOTSfooter .license{/*font-size:0.8em;*/}
.WOTSfooter .license .subfoot{display:block;}
.WOTSmap{width:318px;height:238px;display:none;border:1px solid #DDDDDD;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTSabout,.WOTSresults{font-size:0.8em;font-family:Helvetica,Arial,sans-serif;padding:0.5em 0;margin:0.5em 0;border:1px solid #DDDDDD;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTSabout{background-color:LightGoldenRodYellow;color:#333333;padding:0.75em 12px 0.5em;}
.WOTSresults{background-color:LightGoldenRodYellow;display:none;}
.WOTSabout p,.WOTSresults p{padding:0 10px;}
.WOTSabout a,.WOTSabout a:focus,.WOTSabout a:hover{color:#59728C;}
.WOTSresults .legislators{width:308px;margin:0 4px;}
.WOTScontrols{background-color:#003366;padding:1em;font-size:0.9em;display:none;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.WOTScontrols label{color:#efefef;}
.WOTScontrols input{width:200px;padding:0 2px;border:1px solid #aaa;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;}
.WOTScontrols input.submit{width:32px;margin-left:4px;}
.WOTS ul.legislators > li{min-height:110px;margin-left:0;margin-right:0;min-height:110px;padding-bottom:0.5em;}
.WOTS .person{display:table;width:304px;margin:0 auto;padding:0;clear:both;color:#efefef;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTS .party-D{background-color:#1B325F;}
.WOTS .party-R{background-color:#003366;}
.WOTS .hentry{padding:0 3px;margin:0 0 3px;}
.WOTS .party-D .hentry{border-left:3px solid LightBlue;}
.WOTS .party-R .hentry{border-left:3px solid DarkOrange;}
.WOTS .person.status-1{}
.WOTS .person .photo{float:left;width:88px;height:108px;overflow:hidden;margin:0 5px 0 0;padding:5px;border:1px solid #CCCCCC;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTS .person .photo img{display:block;margin:0 auto;overflow:hidden;}
.WOTS .person .info{display:table;min-height:3em;width:100%;}
.WOTS .person h3,.WOTS .person legend{color:#9099A0;font-size:1em;text-transform:uppercase;}
.WOTS .party-D h3,.WOTS .party-D legend,.WOTS .party-D .separator{color:LightBlue;}
.WOTS .party-R h3,.WOTS .party-R legend,.WOTS .party-R .separator{color:DarkOrange;}
.WOTS .party-D a{color:#ffffff;}
.WOTS .party-R a{color:#ffffff;}
.WOTS .person a.tel {color:#ffffff;background: transparent url(../images/phone.png) no-repeat scroll 0 0; padding: 3px 0 0 18px;text-decoration:none;}
.WOTS .person .meta{margin:1em 1em 0.5em;padding:0.5em 1em;border:1px solid #aaa;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTS .person .meta div{display:none;}
.WOTS .hcard .title,.WOTS .hcard .meta .title,.WOTS .hcard .meta .fn div,.WOTS .hcard .meta .party,.WOTS .hcard .meta .state,.WOTS .hcard .meta .district{display:inline;}
.WOTS .hcard .contact,.WOTS .hcard .links,.WOTS .hcard .words{margin:0 1em 1em;padding:0.5em 1em;border:1px solid #999999;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.WOTS .hcard .links{margin-top:0;}
.WOTS .hcard .contact .separator,.WOTS .hcard .contact .email + .webform .online{display:none;}
.WOTS .hcard .contact .email,.WOTS .hcard .contact .email + .webform .separator,.WOTS .hcard .contact .email + .webform{display:inline;}
.WOTS .hcard .meta .fn{font-weight:bold;font-size:1.1em;}
.WOTS .hcard .meta .state{float:right;}
.WOTS .feed-entry cite{font-style:normal;}
.WOTS .error{color:#BBBBBB;font-style:italic;}
.WOTS .nowrap{white-space:nowrap;}
